@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  font-family: Helvetica;
  font-weight: bold;
}

.ft-r {
  float: right;
}

.text-a-center {
  text-align: center;
}

.width-ful {
  width: 100%;
  float: left;
}

.wid_ful {
  width: 100%;
}

.width1-3 {
  width: 33.33%;
}

.width2-3 {
  width: 66.66%;
}

.dis_i_flex {
  display: inline-flex;
}

.pad-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.side_pad-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mrgn-0 {
  margin: 0;
}

.mrgn-2 {
  margin: 2px;
}

.layout {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 10px;
}

.layout__list {
  align-self: start;
  background-color: lightgray;
  display: grid;
  border-radius: 4px;
}

.layout__list__title {
  text-align: center;
}

.layout__list__delete {
  position: absolute;
  z-index: 1;
  right: 0;
}

.list__card {
  background-color: ghostwhite;
  background: ghostwhite;
  display: grid;
  box-sizing: border-box;
  margin: 6px;
  border-radius: 4px;
  padding: 8px;
  transition: all 0.3s ease;
}

.list__card:hover {
  transform: scale(1.03);
}

.list__card:active {
  transform: scale(1.03) rotate(2deg);
}

.list__card:last-child .card__date {
  background: limegreen;
}

.board_block .taskAdd {
  font-size: small;
  background-color: ghostwhite;
  background: ghostwhite;
  display: grid;
  box-sizing: border-box;
  margin: 6px;
  border-radius: 4px;
  padding: 8px;
  transition: all 0.3s ease;
}

.board_block .taskAdd:hover {
  transform: scale(1.03);
}

.board_block .taskAdd:active {
  transform: scale(1.03) rotate(2deg);
}

.task_modal label {
  font-size: 14px;
}

.task_modal button {
  float: right;
  padding: 10px 15px;
  margin: 5px 5px 15px 5px;
  border-radius: 5px;
  width: 75px;
}

.task_modal button:first-child {
  border: 1px solid green;
  background-color: transparent;
  margin-right: 0;
}

.task_modal button:last-child {
  border: 1px solid red;
  background-color: transparent;
}

.task_modal button:first-child:hover {
  background-color: green;
  color: #fff;
}

.task_modal button:last-child:hover {
  background-color: red;
  color: #fff;
}

.task_modal .v--modal-box.v--modal {
  left: auto !important;
  right: auto !important;
  margin: auto;
  height: auto !important;
}

@media screen and (max-width: 768px) {
  .task_modal button:first-child {
    margin-right: -6px;
  }

  .task_modal .v--modal-box.v--modal {
    left: auto !important;
    right: auto !important;
    margin: auto;
    max-width: 90% !important;
    height: auto !important;
  }

  .task_modal .width1-3,
  .task_modal .width2-3 {
    width: 100%;
  }

  .task_modal .dis_i_flex {
    display: block;
  }
}

